.tagsContainer{
    padding:5px;
}

.tagsContainer a{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 0.78rem;
    color:black
}

.tagsContainer a:hover{
    color: rgb(1,97,239);
}