---
import '../../styles/tabs.css';
---

<div class="flex flex-row">
  <div class="tab active">
    <button>description</button>
  </div>
  <div class="tab">
    <button>Example Data</button>
  </div>
  <div class="tab">
    <button>Data Link</button>
  </div>
</div>
